<div class="jumbotron" ng-hide="jumbotron.hide">
  <h1>featured land</h1>
  <p class="lead">
    Fusce vitae elit eget risus maximus rhoncus. Vivamus placerat sed sapien in tristique. Mauris in est feugiat, dapibus est eu, scelerisque nibh. Curabitur et scelerisque nibh. Duis sed justo consequat, lobortis nisi vitae, auctor tellus. Ut lacinia pretium orci non convallis. Donec viverra suscipit egestas. Maecenas placerat fermentum sapien non interdum.
  </p>
  <p class="lead">
    Morbi suscipit vehicula felis quis tempus. Sed varius enim vitae tellus semper faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus posuere posuere sem sit amet fermentum.
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="jumbotron={hide:true}">Splendid!</a></p>
</div>
<div class="container-fluid">
  <div class="row" ng-repeat="property in properties">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="#" ng-repeat="image in property.images | limitTo: 4">
        <img src="{{image.tn}}" class="img-rounded" style="margin-right: 10px; margin-bottom: 10px;" />
      </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4>{{property.title.en}}</h4>
      <p>{{property.description.en}}</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h5>{{property.subtitle.en}}</h5>
      <p>
        Bidding opens: <span>{{property.auction.open | date:'MMMM dd, yyyy'}}</span>,
        closes: <span>{{property.auction.close | date:'MMMM dd, yyyy'}}</span>,
        guide price:
        <strong>
          {{property.supplier.price.guide.amount | currency : property.supplier.price.guide.currency + ' ' : 2}}
          <sub ng-show="property.supplier.price.guide.currency === 'BGN'">Лв.</sub>
        </strong>        
      </p>
      <span ng-show="rates.EUR">{{property.supplier.price.guide.amount * rates.EUR | currency : 'EUR €' : 2}}</span>
      <span ng-show="rates.GBP">/ {{property.supplier.price.guide.amount * rates.GBP | currency : 'GBP £' : 2}}</span>
      <span ng-show="rates.USD">/ {{property.supplier.price.guide.amount * rates.USD | currency : 'USD $' : 2}}</span>
      <span ng-show="rates.BTC">/ {{property.supplier.price.guide.amount * rates.BTC | currency : 'BTC ₿' : 2}}</span>
      <br ng-show="property.plots.length" />
      <ul ng-show="property.plots.length">
        <li ng-repeat="plot in property.plots">
          <a href="https://github.com/bansko/mountainlandbg/raw/master/media/property/{{property.id}}/{{plot.id}}.pdf">{{plot.id}}</a>
          - {{plot.area.m2}} m²<span ng-show="plot.teritory"> - {{plot.ownership.en}} - {{plot.teritory.type.en}} ({{plot.teritory.usage.en}})</span>
        </li>
      </ul>
    </div>
  </div>
</div>
